div.navbar-container {
  background-color: rgb(30, 37, 45);
  height: 50px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  font-size: larger;
}
