.search-container {
  /* background-color: lightblue; */
  padding-top: 8px;
  padding-bottom: 8px;
}

.searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* column-gap: 8px; */
  row-gap: 8px;
}

.searchbar-index {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.searchbar-button {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.loadingbar {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 10%;
}
